# Python environment
__pycache__/
*.py[cod]

# Virtual Environment (just in case)
LDPenv/

# MLflow logs (The folder we were looking for!)
mlruns/
mlruns.db

# OS files
.DS_Store
Thumbs.db

# MLflow database and logs
mlruns/
mlflow.db
venv/
__pycache__/
.DS_Store
*.pyc
.ipynb_checkpoints/